<div class="container">
  <h1 class="text-center text-warning my-3">ĐẶT VÉ XE BUS HÃNG CYBERSOFT</h1>
  <div class="row">
    <div
      class="
        seat-list-container
        col-12
        offset-sm-2
        col-sm-8
        offset-md-0
        col-md-6
      "
    >
      <app-seat-list
        [seatList]="seatList"
        [bookingSeatList]="bookingSeatList"
        (eventSetBookingSeat)="setBookingSeat($event)"
      ></app-seat-list>
    </div>
    <div class="col-12 col-md-6 mt-3 mt-md-0">
      <app-booking-seat-list
        [bookingSeatList]="bookingSeatList"
        (eventSetBookingSeat)="setBookingSeat($event)"
      ></app-booking-seat-list>
    </div>
  </div>
</div>
