<span class="driver d-block text-center rounded p-2">Tài xế</span>
<div class="seat-list row">
  <div class="seat-item col-3" *ngFor="let seat of seatList">
    <button
      class="btn btn-secondary w-100"
      [ngClass]="{ 'is-booking': checkIsBooking(seat) }"
      [disabled]="seat.TrangThai"
      (click)="setBookingSeat(seat)"
    >
      {{ seat.SoGhe }}
    </button>
  </div>
</div>
